<span>FIRST EXTENSION</span>

{% render 'app_snippet' %}
{% schema %}

{
  "name": "hello world",
  "target": "section",
  "stylesheet": "",
  "javascrit": "",
  "setting": [{ 
    "label": "Color", 
    "id": "color", 
    "type": "color", 
    "default": "#00000" }]
}

{% endschema %}
